//
   Created by mohit on 10/10/17.
extends layout
block title
    title Dashboard
block body
    body
        if (typeof(meta_data) !== undefined && meta_data != null)
            if (typeof (meta_data.problems) !== undefined && meta_data.problems != null && (meta_data.phase == "CHILL_PHASE" ||meta_data.phase == "CODING_PHASE" || meta_data.phase == "HACKING_PHASE"))
                <table class="striped" style="width: 70%; align: center" align="center">
                <thead>
                <tr>
                <th>Challenge Name</th>
                <th>Maximum Score</th>
                <th>Solved</th>
                </tr>
                </thead>

                <tbody>
                each problem, i in meta_data.problems
                    <tr>
                    if (problem.solved !== undefined && problem.solved != null && problem.solved === true)
                        - var link = "/challenge?problem_id=" + problem.problem_id + "&solved=yes"
                        - var problem_name = problem.problem_name
                        <td>
                        a(href = link) #{problem_name}
                        </td>
                        <td> 100 </td>
                        td Yes
                    else
                        - var link = "/challenge?problem_id=" + problem.problem_id + "&solved=no"
                        - var problem_name = problem.problem_name
                        <td>
                        a(href = link) #{problem_name}
                        </td>
                        <td> 100 </td>
                        td No
                    </tr>
                </tbody>
                </table>
            else
                h5.header.col.s12.light You cannot submit any more challenges.
        else
            <h2> Error. Meta data is undefined. </h2>
