<!DOCTYPE html>
<html lang="en">
block head
    head
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Rectify, Engineer, NITK Surathkal">
<meta name="author" content="Mohit Reddy, Convener Webclub, Engineer Computer Science Committee.">

block title
    title Rectify | Engineer 2018 | Home

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<nav class="grey darken-3 lighten-1" role="navigation">
<div class="nav-wrapper container">
<ul class="left hide-on-med-and-down">
<li><a href="http://engineernitk.org/">Engineer 2018</a></li>
//- <li><a href="http://engineernitk.org/events.html#/comps_inscription">Computer Science Events</a></li>
</ul>
<ul class="right hide-on-med-and-down">
<li><a href="/">Home</a></li>
if meta_data.is_logged_in == true && (meta_data.phase == "CODING_PHASE" || meta_data.phase == "HACKING_PHASE")
    <li><a href="/dashboard">Challenges</a></li>
if meta_data.is_logged_in == true
    <li><a href="/leaderboard">Leaderboard</a></li>
if meta_data.is_logged_in == true && meta_data.phase == "HACKING_PHASE"
    <li><a href="/hack">Hack</a></li>
if meta_data.is_logged_in == true
    <li><a href="/logout">Logout</a></li>

</ul>
</div>
</nav>
block body
    body

block footer
    footer

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascripts/materialize.js"></script>
<script src="javascripts/init.js"></script>

</body>
</html>
