<!DOCTYPE html>
<html lang="en">
block head
    head
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Rectify, Engineer, NITK Surathkal">
<meta name="author" content="Mohit Reddy, Convener Webclub, Engineer Computer Science Committee.">

block title
    title Rectify | Engineer 2017 | Home

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<nav class="light-blue lighten-1" role="navigation">
<div class="nav-wrapper container">
<a id="logo-container" href="http://engineernitk.org/" class="brand-logo">Engineer 2017</a>
<ul class="right hide-on-med-and-down">
<li><a href="http://engineernitk.org/events.html#/comps_inscription">Computer Science Events</a></li>
<li><a href="/">Home</a></li>
if (typeof(is_logged_in) !== undefined && is_logged_in != null)
    <li><a href="/logout">Logout</a></li>
</ul>
</div>
</nav>
block body
    body

block footer
    footer
<footer class="page-footer orange">
<div class="container">
<div class="row">

<div class="col s12" align="right">
<ul>
<li><a class="white-text" href="/faq">FAQ</a></li>
<li><a class="white-text" href="http://engineernitk.org/">Engineer 2017</a></li>
<li><a class="white-text" href="https://github.com/WebClub-NITK">Web Club</a></li>
</ul>
</div>

</div>
</div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascripts/materialize.js"></script>
<script src="javascripts/init.js"></script>

</body>
</html>
