<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Rectify, Engineer, NITK Surathkal">
<meta name="author" content="Mohit Reddy, Convener Webclub, Engineer Computer Science Committee.">

block title
    title Rectify | Engineer 2017 | Dashboard

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

body
<nav class="light-blue lighten-1" role="navigation">
<div class="nav-wrapper container">
<a id="logo-container" href="http://engineernitk.org/" class="brand-logo">Engineer 2017</a>
<ul class="right hide-on-med-and-down">
<li><a href="http://engineernitk.org/events.html#/comps_inscription">Computer Science Events</a></li>
</ul>
</nav>

<div class="section no-pad-bot" id="index-banner">
<div class="container">
<h1 class="header center orange-text"> Rectify | Engineer 2017 </h1>
<div class="row center">
<h5 class="header col s12 light">TODO(mohitreddy): Caption for Rectify.</h5>
</div>
<div class="row center">
<a href="/login" id="download-button" class="btn-large waves-effect waves-light orange">Login</a>
<a href="/register" id="download-button" class="btn-large waves-effect waves-light orange">Register</a>
</div>
<br><br>

</div>
</div>


<div class="container">
<div class="section">

<!--   Icon Section   -->
<div class="row">

<div class="col s6">
<div class="icon-block">
<h2 class="center light-blue-text"><i class="material-icons">mode_edit</i></h2>
<h5 class="center">Round 1</h5>

<p class="light">TODO(mohitreddy): A pen paper round where we will test your debugging and logical reasoning tests blah blah.</p>
</div>
</div>

<div class="col s6">
<div class="icon-block">
<h2 class="center light-blue-text"><i class="material-icons">code</i></h2>
<h5 class="center">Round 2</h5>

<p class="light">TODO(mohitreddy): Online individual coding round where you can hack other participants solutions.</p>
</div>
</div>
</div>

</div>
<br><br>
</div>

<footer class="page-footer orange">
<div class="container">
<div class="row">

<div class="col s12" align="right">
<ul>
<li><a class="white-text" href="/faq">FAQ</a></li>
<li><a class="white-text" href="http://engineernitk.org/">Engineer 2017</a></li>
<li><a class="white-text" href="https://github.com/WebClub-NITK">Web Club</a></li>
</ul>
</div>

</div>
</div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascripts/materialize.js"></script>
<script src="javascripts/init.js"></script>

</body>
</html>
