//
   Created by mohit on 9/10/17.
extends layout
block body
    <div class="container">
    <div class="row" >
    <form class="col s12" action="/register" method="post">
    <div class="col s12">
    <div class="col s4"></div>
    h2.header.center.orange-text Register
    <div class="col s4"></div>
    </div>
    <div class="row">
    <div class="input-field col s6">
    <input name="first_name" id="first_name" type="text" class="validate" required>
    <label for="first_name">First Name</label>
    </div>
    <div class="input-field col s6">
    <input name="last_name" id="last_name" type="text" class="validate" required>
    <label for="last_name">Last Name</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s6">
    <input name="password" id="password" type="password" class="validate" required>
    <label for="password">Password</label>
    </div>
    <div class="input-field col s6">
    <input name="user_id" id="user_id" type="text" class="validate" required>
    <label for="user_id">UserId</label>
    </div>
    </div>
    <div class="row">
    <div class="input-field col s6">
    <input name="email" id="email" type="email" class="validate" required>
    <label for="email">Email</label>
    </div>
    </div>
    <div class="col s12">
    <div class="col s4"></div>
    <button class="btn waves-effect waves-light btn col s4" type="submit">Register</button>
    <div class="col s4"></div>
    </div>
    </form>

    </div>
    </div>
